{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{core,
   {git, "https://github.com/exograd/erl-core.git", {branch, "master"}}}]}.
{shell, [{apps, [sqlite]}]}.

{pre_hooks,
  [{"(linux|darwin)", compile, "make --no-print-directory nif"},
   {"(freebsd)", compile, "gmake --no-print-directory nif"}]}.
